<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="targetAddress" value="https://ws-login.dev.mypsn.com/Attributes/Service.svc"/>
    <add key="myURL" value="/Attributes/Service.svc"/>
  </appSettings>
	<system.web>
		<compilation debug="true"/>
        </system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>