<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="targetAddress" value="http://google.com"/>
    <add key="myURL" value="/Proxy/Service.svc"/>
  </appSettings>
	<system.web>
		<compilation debug="true"/>
        </system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>